<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= @article.title %>
      <% @article.tags.each do |tag| %>
        <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
      <% end %>
  </div>

  <div class="card-body">
    <%= @article.content %>
  </div>
</div>

<%# 詳細ページのユーザーidとログインしているユーザーidが等しい場合表示 %>
<% if current_user&.id == @article.user_id %>
  <%= link_to '編集', edit_article_path(@article.id), class: "btn btn-warning" %> |
<% end %>
<%= link_to '記事一覧', articles_path, class: "btn btn-secondary" %>

<% @article.comments.each do |comment| %>
  <div>
    <%= comment.user.email %>
    <% if comment.user.id == @article.user.id %>
      <p>投稿者</p>
      <%= simple_format( comment.comment) %>
      <%= link_to '削除', article_comment_path(@article.comments), data: {comfirm: '本当に削除しますか？'}, method: :delete %>
    <% end %>

    <%= form_for [@article, @comments] do |form| %>
      <%= form.text_field :comment %>
      <%= form.submit "投稿" %>
    <% end %>
  </div>
<% end %>
